*{
    margin: 0%;
    padding: 0%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    min-height: 100vh;
    
    
    
}
h4{
    padding-top: 2rem;
    padding-bottom: 10px;
    text-align: center;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: rgb(216, 182, 182) 0.5px 1px;
}
.new-task-container {
    display: flex;
    margin-bottom: 20px;

}

.new-task-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 125px;
    box-sizing: border-box;
}

.add-task-button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-task-button:hover {
    background-color: #45a049;
}

.filter-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    max-width: 400px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li.item:hover {
    background-color: #e8f0fe;
}

input[type='checkbox'] {
    margin-right: 10px;
    transform: scale(1.2);
}

label {
    flex: 1;
    font-size: 16px;
    margin-right: 10px;
}

label[style*='line-through'] {
    color: #888;
}

.FaTrash {
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
}

.FaTrash:hover {
    color: #d11a2a;
}

label.time{
    padding-left: 2rem;
    font-weight:lighter;
}

p.completed {
    font-size: 18px;
    color: #4caf50;
    text-align: center;
    margin-top: 20px;
}

